@charset "utf-8";

#top{
    background-image: url(https://toosu.github.io/images/mashiro.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1.welcome_text{
    text-align: center;
    border-style: solid;
    border-width: 4px;
}

p.center{
    text-align: center;
}

h2.blog_text{
    text-align: center;
}
